.tabela, th, td{
    border-collapse:collapse;
    padding: 10px;
    text-align: center;
}
.paginiainit{
    background-color: #480ca8;
}

.div-button-sair{
    margin-right: 20px;
    align-items: center;
    display: grid;
    align-content: center;
    justify-content: end;
}
.pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.div-table{
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
}

.intern{
    display: grid;
    align-items: center;
}